.borel-regular {
    font-family: "Borel", serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
}

header {
    text-align: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 100px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

.main-container {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: lightpink;
}

.food-container {
    background-color: lightgreen;
    border-radius: 10px;
    width: 45%;
    max-width: 300px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.food-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.food-container input {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}